* {
    box-sizing: border-box;
}




header{
    /* position: fixed;
    inset: 0 0 auto 0; */
    padding: 5px 15px;
    background-color: rgb(185, 225, 240);
    /* background-color: #a8a8bd; */
}

.links-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* flex-grow: 2; */
}
.logo {
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
    flex-grow: 15;
}

.links{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}