* {
    box-sizing: border-box;

}


:root {
    --margin-inline: 32px;
}



header{
    padding: 5px 15px;
    background-color: rgb(182, 197, 202);
}
header .title{
    font-size: 48px;
    
}

header .secound-title{
    font-size: 32px;
}

.links-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: start;
    gap: 10px;
    /* flex-grow: 2; */
}

main {
    display: flex;
    flex-direction: row;
}

.map{
    flex-grow: 6;
}

aside{
    flex-grow: 2;
}

.places .title{
display: flex;
direction: column;
}

gmp-map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}
