* {
    box-sizing: border-box;
}
body{
    position: relative;
}



header{
    padding: 5px 15px;
    background-color: rgb(182, 197, 202);
}
header .title{
    font-size: 48px;
    
}

header .secound-title{
    font-size: 32px;
}

.links-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: start;
    gap: 10px;
    /* flex-grow: 2; */
}
